* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
iframe {
  max-width: 100%;
  /* align-self: stretch; */
  /* object-fit: cover; */
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ------------- GLOBAL ------------- */
  /* Font scale heading */
  --text-9: 2.027rem;
  --text-8: 1.802rem;
  --text-7: 1.602rem;
  --text-6: 1.424rem;
  --text-5: 1.266rem;

  /* Font scale body text */
  --text-4: 1rem;
  --text-3: 0.8rem;
  --text-2: 0.64rem;
  --text-1: 0.512rem;

  /* ------------- ALIAS ------------- */
  /* Farver */
  --primary_white: #faf6ef;
  --secondary_beige: #ece6dc;
  --light_brown: #513826;
  --medium_brown: #462216;
  --dark_brown: #35261c;
  --accent_green: #1e4b1e;

  /* Font */
  --heading-h1: var(--text-9);
  --heading-h2: var(--text-8);
  --heading-h3: var(--text-7);
  --heading-h4: var(--text-6);
  --heading-h5: var(--text-5);
  --body-default: var(--text-4);
  --body-mini: var(--text-3);

  /* Ved ikke om vi skal køre spacingssss :) */

  /* SPACING */
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-md2: 2.1rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 5rem;
}

/* Fælles styling */
body,
.body-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--body-default);
  line-height: 1.5;
  background-color: var(--primary_white);
  color: var(--light_brown);
}

h1,
.heading-1 {
  font-size: var(--heading-h1);
  font-weight: 700;
  text-transform: uppercase;

  line-height: 1.1;
  /* margin-top: 0; */
  margin-bottom: var(--spacing-xxs);
}

h2,
.heading-2 {
  font-size: var(--heading-h2);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: var(--spacing-xxs);
}

h3,
.heading-3 {
  font-size: var(--heading-h3);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: var(--spacing-xxs);
}

h4,
.heading-4 {
  font-size: var(--heading-h4);
  font-weight: 500;
  text-transform: normal;
}

h5,
.heading-5 {
  font-size: var(--heading-h5);
  font-weight: 500;
  text-transform: uppercase;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: var(--body-default);
  max-width: 65ch;
}

span {
  font-family: "Poppins", sans-serif;
  font-size: var(--body-mini);
  max-width: 65ch;
}



/*-----------------STYLES-----------------*/
/* 
header {
  background-image: url("/billeder/img header.png");
  background-size: cover;
} */

/* section {
  padding-block: 4rem;
} */
