---
import Sti from "../components/Sti.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import "..//styles/style.css";
import Timer from "../components/Timer.astro";
import Card from "../components/Card.astro";

---

<MainLayout
  title="Det Lille Kafferisteri"
  metacontent="(Indsæt metabeskrivelse her)"
>
<section class="md:max-w-3xl lg:max-w-6xl mx-auto px-10">
    <Sti
    sti1="Forside"
    divider1="/"
    sti2="Shop"
    divider2="/"
    sti3="Friskristet Kaffeprodukter"
    />
    <Heading><h1 class="text-center">Friskristet kaffeprodukter</h1><Heading/>
<p class="text-center">Gå på opdagelse i vores varianter af friskristet kaffe. Alle vores bønner er økologisk certificeret, ligesom vi så vidt muligt lever op til andre mærkninger, der støtter de lokale område, hvor bønnerne spirer. Velkommen til en smagsoplevelse, der går ud over det sædvanlige</p>
<Timer/>
</section>
 

<!-- Filtrering -->
<section
    class="bg-primary_white py-16 px-10"
    id="step"
    x-data="{ kaffetype: [], ristegrad: [], smag: [], oprindelse: [], andet: [], skjultekaffe : 0 }"
  >
    <div class="md:max-w-3xl lg:max-w-6xl mx-auto">
      <Heading><h2 class="text-center">Vores kaffeprodukter</h2></Heading>
      <!-- Filterknapper -->
      <section class="px-8 md:px-12">
        <div class="mb-10 mx-10">
          <form id="filtre" class="flex gap-8 justify-center">
  
            <!-- Kaffetype -->
            <div class="grid">
              <label for="kaffetype"><h3 class="heading-5">Kaffetype</h3></label>
              <div>
                <input
  type="checkbox"
  id="espresso"
  name="kaffetype"
  value="espresso"
  x-model="kaffetype"
>

                <label for="espresso">Espresso</label>
              </div>
              <div>
                <input type="checkbox" id="stempelkande" name="kaffetype" value="stempelkande" x-model="kaffetype">
                <label for="stempelkande">Stempelkande</label>
              </div>
              <div>
                <input type="checkbox" id="filterkande" name="kaffetype" value="filterkande" x-model="kaffetype">
                <label for="filterkande">Filterkande</label>
              </div>
            </div>
  
            <!-- Ristegrad -->
            <div class="grid">
              <label for="ristegrad"><h3 class="heading-5">Ristegrad</h3></label>
              <div>
                <input type="checkbox" id="lysristet" name="ristegrad" value="lysristet" x-model="ristegrad">
                <label for="lysristet">Lysristet</label>
              </div>
              <div>
                <input type="checkbox" id="mellemristet" name="ristegrad" value="mellemristet" x-model="ristegrad">
                <label for="mellemristet">Mellemristet</label>
              </div>
            </div>
  
            <!-- Smag -->
            <div class="grid">
              <label for="smag"><h3 class="heading-5">Smag</h3></label>
              <div>
                <input type="checkbox" id="sod" name="smag" value="sod" x-model="smag">
                <label for="sod">Sød</label>
              </div>
              <div>
                <input type="checkbox" id="syrlig" name="smag" value="syrlig" x-model="smag">
                <label for="syrlig">Syrlig</label>
              </div>
            </div>
  
            <!-- Oprindelse -->
            <div class="grid">
              <label for="oprindelse"><h3 class="heading-5">Oprindelse</h3></label>
              <div>
                <input type="checkbox" id="sydamerika" name="oprindelse" value="sydamerika" x-model="oprindelse">
                <label for="sydamerika">Sydamerika</label>
              </div>
              <div>
                <input type="checkbox" id="mellemamerika" name="oprindelse" value="mellemamerika" x-model="oprindelse">
                <label for="mellemamerika">Mellemamerika</label>
              </div>
              <div>
                <input type="checkbox" id="nordafrika" name="oprindelse" value="nordafrika" x-model="oprindelse">
                <label for="nordafrika">Nordafrika</label>
              </div>
              <div>
                <input type="checkbox" id="sydostasien" name="oprindelse" value="sydostasien" x-model="oprindelse">
                <label for="sydostasien">Sydøstasien</label>
              </div>
            </div>
  
            <!-- Andet -->
            <div class="grid">
              <label for="andet"><h3 class="heading-5">Andet</h3></label>
              <div>
                <input type="checkbox" id="koffeinfri" name="andet" value="koffeinfri" x-model="andet">
                <label for="koffeinfri">Koffeinfri</label>
              </div>
            </div>
          </form>
        </div>
      </section>
      <!---------------- Indhold der kan filtreres i ------------------>
  
      <div class="grid grid-cols-2 md:grid-cols-3 gap-8 lg:max-w-6xl mx-auto">
        <section
          class="cursor-pointer"
          :class="{'hidden': !(['allekaffetyper', 'espresso'].includes(kaffetype) && ['alleristegrader', 'mellemristet'].includes(ristegrad) && ['allesmag', 'sod'].includes(smag) && ['alleoprindelser', 'mellemamerika'].includes(oprindelse) && ['alleandet', 'andet'].includes(andet)) }"
          x-transition:enter.duration.800ms
          
        >
           <Card
      kategori="Espresso"
      title="KAFFEMIK | MEXICO & GUATAMALA"
      price="FRA 79 DKK"
      img_product="/billeder/webp/Singleproduct2.webp"
      link_side="/kaffesingle"
      />
        </section>
  
        <section
          class="cursor-pointer"
          :class="{'hidden': !(['allekaffetyper', 'espresso'].includes(kaffetype) && ['alleristegrader', 'mellemristet'].includes(ristegrad) && ['allesmag', 'syrlig'].includes(smag) && ['alleoprindelser', 'sydamerika'].includes(oprindelse) && ['alleandet', 'koffeinfri'].includes(andet)) }"
          x-transition:enter.duration.800ms
          
        >
              <Card
      kategori="Espresso"
      title="KOFFEINFRI AFTENKAFFE | COLOMBIA"
      price="FRA 79 DKK"
      img_product="/billeder/webp/Singleproduct4.webp"
      link_side="/kaffesingle"
      />
        </section>
  
        <section
          class="cursor-pointer"
          :class="{'hidden': !(['allekaffetyper', 'stempelkande'].includes(kaffetype) && ['alleristegrader', 'lysristet'].includes(ristegrad) && ['allesmag', 'sod'].includes(smag) && ['alleoprindelser', 'sydamerika'].includes(oprindelse) && ['alleandet', 'andet'].includes(andet)) }"
          x-transition:enter.duration.800ms
          
        >
            <Card
      kategori="Stempelkande"
      title="BRASIL | BRASILIEN, SINGLE ORIGIN"
      price="FRA 79 DKK"
      img_product="/billeder/webp/Singleproduct1.webp"
      link_side="/kaffesingle"
      />
        </section>
  
        <section
          class="cursor-pointer"
          :class="{'hidden': !(['allekaffetyper', 'espresso'].includes(kaffetype) && ['alleristegrader', 'mellemristet'].includes(ristegrad) && ['allesmag', 'sod'].includes(smag) && ['alleoprindelser', 'mellemamerika'].includes(oprindelse) && ['alleandet', 'andet'].includes(andet)) }"
          x-transition:enter.duration.800ms
          
        >
            <Card
      kategori="Espresso"
      title="MADAMMERNES MØRKE MOCCA | MEXICO"
      price="FRA 79 DKK"
      img_product="/billeder/webp/Singleproduct4.webp"
      link_side="/kaffesingle"
      />
        </section>
  
        <section
          class="cursor-pointer"
          :class="{'hidden': !(['allekaffetyper', 'filterkande'].includes(kaffetype) && ['alleristegrader', 'lysristet'].includes(ristegrad) && ['allesmag', 'sod'].includes(smag) && ['alleoprindelser', 'sydamerika'].includes(oprindelse) && ['alleandet', 'andet'].includes(andet)) }"
          x-transition:enter.duration.800ms
          
        >
           <Card
      kategori="Filterkande"
      title="MORGENKAFFE | NICARAGUA & BRASILIEN"
      price="FRA 79 DKK"
      img_product="/billeder/webp/Singleproduct3.webp"
      link_side="/kaffesingle"
      /> 
        </section>
  
        <section
          class="cursor-pointer"
          :class="{'hidden': !(['allekaffetyper', 'filterkande'].includes(kaffetype) && ['alleristegrader', 'mellemristet'].includes(ristegrad) && ['allesmag', 'sod'].includes(smag) && ['alleoprindelser', 'nordafrika'].includes(oprindelse) && ['alleandet', 'andet'].includes(andet)) }"
          x-transition:enter.duration.800ms
          
        >
            <Card
      kategori="Filterkande"
      title="UGANDA | SINGLE ORIGIN"
      price="FRA 79 DKK"
      img_product="/billeder/webp/Singleproduct2.webp"
      link_side="/kaffesingle"
      />
        </section>
  
        <section
          class="cursor-pointer"
          :class="{'hidden': !(['allekaffetyper', 'stempelkande'].includes(kaffetype) && ['alleristegrader', 'mellemristet'].includes(ristegrad) && ['allesmag', 'sod'].includes(smag) && ['alleoprindelser', 'mellemamerika'].includes(oprindelse) && ['alleandet', 'andet'].includes(andet)) }"
          x-transition:enter.duration.800ms
          
        >
            <Card
      kategori="Stempelkande"
      title="GUATAMALA | SINGLE ORIGIN"
      price="FRA 79 DKK"
      img_product="/billeder/webp/Singleproduct3.webp"
      link_side="/kaffesingle"
      />
        </section>
        <section
          class="cursor-pointer"
          :class="{'hidden': !(['allekaffetyper', 'stempelkande'].includes(kaffetype) && ['alleristegrader', 'mellemristet'].includes(ristegrad) && ['allesmag', 'sod'].includes(smag) && ['alleoprindelser', 'nordafrika'].includes(oprindelse) && ['alleandet', 'andet'].includes(andet)) }"
          x-transition:enter.duration.800ms
          
        >
            <Card
      kategori="Stempelkande"
      title="ETHIOPIA | SINGLE ORIGIN"
      price="FRA 79 DKK"
      img_product="/billeder/webp/Singleproduct1.webp"
      link_side="/kaffesingle"
      />
        </section>
  
        <section
          class="cursor-pointer"
          :class="{'hidden': !(['allekaffetyper', 'filterkande'].includes(kaffetype) && ['alleristegrader', 'lysristet'].includes(ristegrad) && ['allesmag', 'sod'].includes(smag) && ['alleoprindelser', 'sydostasien'].includes(oprindelse) && ['alleandet', 'andet'].includes(andet)) }"
          x-transition:enter.duration.800ms
          
        >
            <Card
      kategori="Filterkande"
      title="INDONESIA | SINGLE ORIGIN"
      price="FRA 79 DKK"
      img_product="/billeder/webp/Singleproduct4.webp"
      link_side="/kaffesingle"
      />
        </section>
  
  
       
        
      </div>
    </div>
  </section>

</MainLayout>

<script>

</script>




