---
import "../styles/style.css";
import Sti from "../components/Sti.astro";
import Forslag from "../components/Forslag.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
 title="Gavekort - Det Lille Kafferisteri"
  metacontent="Overrask en du holder af med et gavekort fra Det Lille Kafferisteri. Vores gavekort er en perfekt gaveidé, tilgængelig både som fysisk kort og digital leveret via e-mail. Vælg selv beløbet og glæd dine nærmeste med smagen af vores nøje udvalgte kvalitetskaffe. En uforglemmelig gave til enhver kaffeelsker."
  >
   <div class="md:max-w-3xl lg:max-w-6xl mx-auto md:px-0 px-10 ">
         <Sti
          sti1="Forside"
          divider1="/"
          sti2="Gavekort"
          />
   </div>

<section class="relative">
  <img src="/ikoner/bg-beans.svg" alt="bønne ikoner" class="absolute top-[-25%] right-[-17%] h-[30rem] w-[30rem] beans">
   <div class="pb-16 md:px-0 px-10">
      <div class="md:max-w-3xl lg:max-w-6xl mx-auto ">
     
        
          <!-- <Single/> -->
  
         <div class="grid md:grid-cols-2 bg-secondary_beige py-16 gap-10">
  
  <img class="mb-5 w-full" src="/gavekort/gavekort.webp" alt="Gavekort">
  
  
  
  
            <div class="">
               <h1>Gavekort</h1>
               <p class="mb-4">Overrask en du holder af med et gavekort til Det Lille Kafferisteri. Gavekortet er tilgængeligt både fysisk og digitalt via mail. Vælg beløb, tilpas og glæd dine nærmeste med smagen af kvalitetskaffe.</p>
  <ul class="custom-list">
    <li class="flex mb-4"><p>Gyldigt i 36 måneder</p></li>
    <li class="flex mb-4"><p>Kan opdeles over flere køb</p></li>
    <li class="flex mb-4"><p>Kan ikke ombyttes til kontanter</p></li>
    <li class="flex mb-4"><p>Fysisk kort eller digital via mail</p></li>
  </ul>
  
  
          <!-- Inputfelter -->
     <!-- Inputfelter -->
  <div class="grid md:grid-cols-2 gap-3 md:gap-5 mt-5 items-end">
    <!-- Type -->
    <div class="grid col-span-1">
      <label class="mb-1"><h4>Type</h4></label>
      <select class="py-3 px-5 h-12">
        <option>Digitalt gavekort</option>
        <option>Fysisk gavekort</option>
      </select>
    </div>
  
    <!-- Beløb -->
    <div class="grid col-span-1">
      <label class="mb-1"><h4>Beløb</h4></label>
      <select class="py-3 px-5 h-12">
        <option>200 DKK</option>
        <option>300 DKK</option>
        <option>400 DKK</option>
      </select>
    </div>
  
    <!-- Antal -->
    <div class="grid col-span-1">
      <label class="mb-1"><h4>Antal</h4></label>
      <select class="py-3 px-5 h-12">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
  
    <!-- Button -->
    <div class="grid col-span-1">
      <div class="bg-accent_green hover:bg-light_accent_green inline-flex rounded-full justify-center items-center h-12">
        <a href="#">
          <h6 class="text-primary_white">Tilføj til kurven</h6>
        </a>
      </div>
    </div>
  </div>
  
  
  
             
         </div>
     </div>
         </div>
      </div>
   </div>
</section>


      <div class="bg-primary_white md:px-0 px-10 relative">
       <img src="/ikoner/bg-beans.svg" alt="" class="absolute top-[-15%] left-[-23%] h-[30rem] w-[30rem] rotate-[17deg] beans">
          <Forslag
          heading="Du vil muligvis synes godt om"
            link_side_1="/produktside"
    	    img_product_1="/billeder/produktbilleder/packshot3.webp"
            kategori_1="Espresso"
    	    title_1="KAFFEMIK | MEXICO & GUATAMALA"
    	    price_1="FRA 79 DKK"
    
            link_side_2="/produktside"
    	    img_product_2="/billeder/produktbilleder/packshot4.webp"
            kategori_2="Espresso"
    	    title_2="KOFFEINFRI AFTENKAFFE | COLOMBIA"
    	    price_2="FRA 79 DKK"
    
            link_side_3="/produktside"
    	    img_product_3="/billeder/produktbilleder/packshot1.webp"
            kategori_3="Stempelkande"
    	    title_3="BRASIL | BRASILIEN, SINGLE ORIGIN"
    	    price_3="FRA 79 DKK"
        />
      </div>

</MainLayout>

<style>
  .custom-list {
    list-style-type: none;
  }

  .custom-list li::before {
    content: url('/ikoner/bean.svg');
    display: inline-block;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
  }
</style>

