---
import SecondLayout from "../layouts/SecondLayout.astro";
import Card from "../components/Card.astro";
import Kategoricard from "../components/Kategoricard.astro";
import SecondaryButton from "../components/SecondaryButton.astro";
import PrimaryButton from "../components/PrimaryButton.astro";
import ToggleDropdown from "../components/ToggleDropdown.astro";
import Timer from "../components/Timer.astro";
import "../styles/style.css";
import InfoSection from "../components/InfoSection.astro";

---

<SecondLayout
  title="Det Lille Kafferisteri"
  metacontent="(Indsæt metabeskrivelse her)"
/>
 
<section class="h-scren bg-[url('/billeder/hero-billede.png')] bg-cover"></section>

</SecondLayout>


