---
import Heading from "../components/Heading.astro";
import "../styles/style.css";
import Sti from "../components/Sti.astro";
import PrimaryButton from "../components/PrimaryButton.astro";
import Forslag from "../components/Forslag.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
 title="Indkøbskurv - Det Lille Kafferisteri"
  metacontent="Velkommen til Det Lille Kafferisteri! Oplev friskristet kaffe, tilmeld dig vores kaffekasse, og opdag vores mest populære kaffeprodukter. Hos os får du kvalitet, bæredygtighed, og økologisk kaffe."
>
<section class="relative">
    <img src="/ikoner/bg-beans.svg" alt="" class="absolute top-[-25%] right-[-10%] h-[30rem] w-[30rem] beans">
    <div class="md:max-w-3xl lg:max-w-6xl mx-auto md:px-0 px-10">
        <Sti
        sti1="Forside"
        divider1="/"
        sti2="Indkøbskurv"
        />
        <Heading><h1  class="text-center">Indkøbskurv</h1><Heading/>
            
<!--  Kasse 1: Indhold i kurv -->
<div class="grid md:grid-cols-3 gap-10 pb-16 pt-8">
<!-- Produkt -->
<div class="bg-primary_white  p-6 md:p-10 col-span-2">
     <div class="grid grid-rows-4 gap-4">
        <div>
            <div class="grid grid-cols-5">
                <h2 class="col-span-2 text-heading-5">Produkt</h2>
                        <h2 class="text-heading-5">Pris</h2>
                        <h2 class="text-heading-5">Antal</h2>
                        <h2 class="text-heading-5">Subtotal</h2>
                        
    
                       </div>
                       <div class="border-b border-darkest_brown w-full"></div>

                   </div>

                   <div class="grid grid-cols-5 items-center">
                    <div class="flex gap-3 col-span-2 items-center"><img src="/indkobskurv/kurv-1.webp" alt=""><p>Kaffekassen Small</p></div>
                    <p>159 DKK</p>
   
                      <div class="">
                        <select class="py-2 px-5 border border-darkest_brown">
                             <option>1</option>
                             <option>2</option>
                            </select>
                            </div>

                    <div class="flex justify-between lg:gap-5"><p>159 DKK</p><img src="/ikoner/kryds.svg" alt=""></div>
                   </div>

                   <div class="grid grid-cols-5 items-center">
                    <div class="flex gap-3 col-span-2 items-center"><img src="/indkobskurv/kurv-2.webp" alt=""><p>Brasil (250g)</p></div>
                    <p>70 DKK</p>
                     <div class="">
                        <select class="py-2 px-5 border border-darkest_brown">
                             <option>2</option>
                             <option>1</option>
                            </select>
                            </div>
                   <div class="flex justify-between lg:gap-5"><p>140 DKK</p><img src="/ikoner/kryds.svg" alt=""></div>
                   </div>


                   <div class="grid grid-cols-5 items-center">
                    <div class="flex gap-3 col-span-2 items-center"><img src="/indkobskurv/kurv-3.webp" alt=""><p>Uganda (1000g)</p></div>
                    <p>250 DKK</p>
                     <div class="">
                        <select class="py-2 px-5 border border-darkest_brown">
                             <option>1</option>
                             <option>2</option>
                            </select>
                            </div>
                   <div class="flex justify-between lg:gap-5"><p>250 DKK</p><img src="/ikoner/kryds.svg" alt=""></div>
                   </div>

                   <div class="grid grid-cols-5 items-center">
                    <div class="flex gap-3 col-span-2 items-center"><img src="/indkobskurv/kurv-4.webp" alt=""><p>Guatamala (250g)</p></div>
                    <p>70 DKK</p>
                     <div class="">
                        <select class="py-2 px-5 border border-darkest_brown">
                             <option>1</option>
                             <option>2</option>
                            </select>
                            </div>
                   <div class="flex justify-between lg:gap-5"><p>70 DKK</p><img src="/ikoner/kryds.svg" alt=""></div>
                   </div>

                </div>
            </div>

            <!-- Kasse 2: Subtotal -->
            <div class="bg-primary_white  p-6 md:p-10 lg:col-span-1 grid gap-4 col-span-2">
            <h2 class="text-heading-5 border-b border-darkest_brown pb-3">Subtotal</h2>
            <div class="flex space-x-24 justify-between"><p class="">Subtotal</p><p>619 DKK</p></div>
            <div class="flex space-x-24 border-b border-darkest_brown pb-3 justify-between"><p class="">Levering</p><p>50 DKK</p></div>
            <div class="flex space-x-24 justify-between"><h2 class="text-heading-5">Pris i alt</h2><h2 class="text-heading-5">669 DKK</h2></div>
             <PrimaryButton link_side="#" text="Videre til kassen"></PrimaryButton>
            </div>

        </div>
        
       
    </div>
</section>
<div class="bg-primary_white relative">
   <img src="/ikoner/bg-beans.svg" alt="" class="absolute top-[-15%] left-[-20%] h-[30rem] w-[30rem] rotate-[17deg] beans">
<img src="/ikoner/bg-beans.svg" alt="" class="absolute bottom-[-10%] right-[-20%] h-[30rem] w-[30rem] beans">
        <Forslag
        heading="Du vil muligvis synes godt om"
            link_side_1="/produktside"
    	    img_product_1="/billeder/nye_webp/kaffeboksjul.webp"
    	    title_1="kaffekassen | Jul"
    	    price_1="477 DKK/MÅNED"
    
            link_side_2="/produktside"
    	    img_product_2="/billeder/nye_webp/kaffeboksalm2.webp"
    	    title_2="kaffekassen | mellem"
    	    price_2="159 DKK/MÅNED"
    
            link_side_3="/produktside"
    	    img_product_3="/billeder/nye_webp/kaffeboksalm3.webp"
    	    title_3="kaffekassen | deluxe"
    	    price_3="299 DKK/MÅNED"
        />
</div>

</MainLayout>
