---
import "../styles/style.css";
import Sti from "../components/Sti.astro";
import Testimonial from "../components/Testimonial.astro";
import Forslag from "../components/Forslag.astro";
import MainLayout from "../layouts/MainLayout.astro";
const { skala, beanImgPath1, beanImgPath2, beanImgPath3, beanImgPath4, type, title, option1, option2, option3, option4, galleri_1, galleri_2, galleri_3, galleri_4 } = Astro.props;
---



         
<MainLayout
 title="Kaffekassen | Mellem - Det Lille Kafferisteri"
  metacontent="Oplev vores unikke abonnementsløsning, Kaffekassen, hos Det Lille Kafferisteri. Få essentiel kaffeviden, lækre kaffenydelser og spændende gaver hver måned. Bliv klogere og gladere med vores overraskelser og sjove kaffeoplevelser."
  >
<section class="relative">
<img src="/ikoner/bg-beans.svg" alt="" class="absolute top-[-5%] right-[-18%] h-[30rem] w-[30rem] rotate-45 beans">
    <div class="md:max-w-3xl lg:max-w-6xl mx-auto md:px-0 px-10">
        <Sti
        sti1="Forside"
        divider1="/"
        sti2="Kaffekassen"
        divider2="/"
        sti3="Kaffekassen Mellem"
        />
        
       <!-- Single -->
<div class="grid md:grid-cols-2 bg-secondary_beige py-16 gap-10">
 <div class="">
<img class="mb-5 w-full" src="/billeder/nye_webp/kaffeboksalm2.webp" alt="Kaffe" height="410" width="410">
<div class="grid grid-cols-3 gap-5">
    <img src="/billeder/galleri-4.jpg" alt="">
    <img src="/billeder/galleri-5.jpg" alt="">
    <img src="/billeder/galleri-6.jpg" alt="">
</div>
    
</div>
   <div class="">
        <div class="flex justify-between">
            <h1>Kaffekassen Mellem</h1>
           <div class="flex gap-2">
                <img src="/ikoner/topbar-fairtrade.svg" alt="">
                <img src="/ikoner/topbar-oko.svg" alt="">
           </div>
        </div>
        <h2>159 DKK</h2>
        <div class="flex gap-4 mb-4">
            <img src="/ikoner/stjerner.svg" alt="">
            <a href="#"><p class="underline">Se anmeldelser</p></a>
        </div>
   <div class="grid">
        <p class="mb-4">Tilmeld dig en kaffekasse og få en eksklusiv boks på abonnement efter dine behov.</p>

<p class="mb-2">Boksen indeholder:</p>
<ul class="custom-list">
  <li class="flex mb-4"><p>2 poser udvalgt 250 grams friskristet økologisk kaffe.</p></li>
  <li class="flex mb-4"><p>En kaffe-gave til en værdi af omkring 50 kr.</p></li>
  <li class="flex mb-4"><p>Et eksklusivt nyhedsbrev, der guider dig gennem månedens særlige tema med spændende perspektiver på kaffe.</p></li>
</ul>

<p>Som medlem af vores klub vil du også blive tilbudt en række rabatter og andre fordele. Du kan altid opsige dit medlemskab.</p>
 

   </div>
       
<!-- Inputfelter -->
<div class="grid md:grid-cols-2 gap-3 md:gap-5 mt-5 items-end">
  <!-- Type -->
  <div class="grid col-span-1">
    <label class="mb-1"><h4>Type</h4></label>
    <select class="py-3 px-5 h-12">
      <option>Hele bønner</option>
      <option>Kværnede bønner</option>
    </select>
  </div>

  <!-- Interval -->
  <div class="grid col-span-1">
    <label class="mb-1"><h4>Interval</h4></label>
    <select class="py-3 px-5 h-12">
      <option>1 gang om måneden</option>
      <option>1 gang hver 2. måned</option>
    </select>
  </div>

  <!-- Antal -->
  <div class="grid col-span-1">
    <label class="mb-1"><h4>Antal</h4></label>
    <select class="py-3 px-5 h-12">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>

  <!-- Button -->
  <div class="grid col-span-1">
    <div class="bg-accent_green hover:bg-light_accent_green inline-flex justify-center items-center h-12 rounded-full">
      <a href="#">
        <h6 class="text-primary_white">Tilføj til kurven</h6>
      </a>
    </div>
  </div>
</div>




   </div>
</div>


    </div>
<div class="bg-primary_white md:px-0 px-10 relative">
            <img src="/ikoner/bg-beans.svg" alt="" class="absolute top-[-15%] left-[-23%] h-[30rem] w-[30rem] rotate-[17deg] beans">
            <img src="/ikoner/bg-beans.svg" alt="" class="absolute bottom-[-33%] right-[-15%] h-[30rem] w-[30rem] beans">
        <Forslag
        heading="Du vil muligvis synes godt om"
            link_side_1="/kaffekasse"
    	    img_product_1="billeder/nye_webp/kaffeboksalm.webp"
    	    title_1="kaffekassen | mini"
    	    price_1="119 DKK/MÅNED"
    
            link_side_2="/kaffekasse"
    	    img_product_2="billeder/nye_webp/kaffeboksjul.webp"
    	    title_2="kaffekassen | Jul"
    	    price_2="477 DKK/MÅNED"
    
            link_side_3="/kaffekasse"
    	    img_product_3="billeder/nye_webp/kaffeboksalm3.webp"
    	    title_3="kaffekassen | deluxe"
    	    price_3="299 DKK/MÅNED"
        />
</div>

     <div class="relative">
      <img src="/ikoner/bg-beans.svg" alt="" class="absolute bottom-[-40%] left-[-20%] h-[30rem] w-[30rem] beans">
        <Testimonial
        testimonial_billede_1="/billeder/sarah.png"
        testimonial_person_1="Sarah, 33 år"
        testimonial_tekst_1="Jeg er virkelig kræsen, når det kommer til kaffe. Men jeg har virkelig fundet den kaffe der passer til mig. Den er rund i smagen og perfekt i kombination med min havremælk"
        testimonial_billede_2="/billeder/kenneth.png"
        testimonial_person_2="Kenneth, 65 år"
        testimonial_tekst_2="Jeg går op i god kaffe og elsker at få tilsendt god kaffe hver måned. Derudover lærer jeg nye metoder, jeg ikke kendte til før."
        />
     </div>


    
</section>

</MainLayout>

<style>
  .custom-list {
    list-style-type: none;
  }

  .custom-list li::before {
    content: url('/ikoner/bean.svg');
    display: inline-block;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
  }
</style>

