---
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import InfoSection from "../components/InfoSection.astro";
import Sti from "../components/Sti.astro";
import "..//styles/style.css";
---




<MainLayout
 title="Abonnement - Det Lille Kafferisteri"
  metacontent="Oplev vores unikke abonnementsløsning, Kaffekassen, hos Det Lille Kafferisteri. Få essentiel kaffeviden, lækre kaffenydelser og spændende gaver hver måned. Bliv klogere og gladere med vores overraskelser og sjove kaffeoplevelser."
  >
<!-- ABONNEMENT SECTION HER -->
<section class=" pb-16 px-10  md:max-w-3xl lg:max-w-6xl mx-auto relative">
<img src="/ikoner/bg-beans.svg" alt="" class="absolute top-[-25%] right-[-30%] h-[30rem] w-[30rem] beans">
<img src="/ikoner/bg-beans2.svg" alt="" class="absolute bottom-[-80%] left-[-35%] h-[30rem] w-[30rem] beans">
      <div class="grid">
          <Sti
            sti1="Forside"
            divider1="/"
            sti2="Abonnement"
            />
    <Heading><h2  class="text-center">abonnement</h2><Heading/>
    
        <p class="text-center pt-8">Vælg en abonnementløsning hos Det lille kafferisteri. Vores abonnement, Kaffekassen, er nøglen til kaffeviden og bryggemetoder. Med abonnementet får du uundværlig læring, lækker kaffe og spændende gaver, der forbedrer din kaffeoplevelse. Bliv klogere og gladere med vores månedlige overraskelser og sjove kaffeoplevelser.</p>
    
      </div>
    </section>

<div class="bg-primary_white py-16 px-10">
<Heading><h2 class="text-center">vores udvalg af kaffekasser</h2><Heading/>
<section class=" pb-16 pt-8 relative">
    <img src="/ikoner/bg-beans2.svg" alt="" class="absolute bottom-[-5%] right-[-38%] h-[30rem] w-[30rem] beans">
   <div class="lg:justify-evenly grid md:grid-cols-2 lg:grid-cols-3 gap-10 fade-in">
        <Card 
        link_side="kaffekassesingle"
        img_product="/billeder/nye_webp/kaffeboksalm.webp"
        title="kaffekassen | mini"
        price="119dkk/måned"
        >
                </Card>
        <Card 
        link_side="kaffekassesingle"
        img_product="billeder/nye_webp/kaffeboksalm2.webp"
        title="kaffekassen | mellem"
        price="159dkk/måned"
        >
            </Card>  
        <Card 
        link_side="kaffekassesingle"
        img_product="/billeder/nye_webp/kaffeboksalm3.webp"
        title="kaffekassen | deluxe"
        price="299dkk/måned"
        >
              </Card>
    
        <Card 
        link_side="kaffekassesingle"
        img_product="/billeder/nye_webp/kaffeboksjul.webp"
        title="kaffekassen | Jul"
        price="477dkk/måned"
        >
              </Card>
   </div>

</section>
</div>
<!-- SÅDAN BESTILLER DU SECTION HER -->

<section class="bg-secondary_beige py-16 px-10 relative fade-in">
<img src="/ikoner/bg-beans.svg" alt="" class="absolute bottom-[-40%] left-[-20%] h-[30rem] w-[30rem] beans">
    <div class="md:p-0 md:max-w-3xl lg:max-w-6xl mx-auto">
<Heading><h2  class="text-center">sådan bestiller du en kaffekasse</h2><Heading/>
<InfoSection
img1="/ikoner/pil_gennemsigtig.svg"
title1="vælg din favorit kaffekasse... "
description1="Der opfylder dine specifikke behov, om det er smag, pris eller andre præferencer."

img2="/ikoner/kassen.svg"
title2="tilmeld dig..."
description2="Den abonnementsordning der passer lige til dig og dit kaffebehov."

img3="/ikoner/gave_gennemsigtig.svg"
title3="Modtag din kaffekasse..."
description3="Og nyd den friskristede kaffe sammen med en sød overraskelse."
>
</InfoSection>
</div>
</section>
</div>

</MainLayout>

<script>
//fade in animation//
const fadeInElements = document.querySelectorAll(".fade-in");

function fadeInOnScroll() {
  fadeInElements.forEach((el) => {
    const elTop = el.getBoundingClientRect().top;
    const elBottom = el.getBoundingClientRect().bottom;

    if (elTop < window.innerHeight && elBottom > 0) {
      el.classList.add("show");
    }
  });
}

window.addEventListener("scroll", fadeInOnScroll);


</script>