---
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import "../styles/style.css";
import Sti from "../components/Sti.astro";
import Testimonial from "../components/Testimonial.astro";
import Single from "../components/Single.astro";
import Forslag from "../components/Forslag.astro";
import MainLayout from "../layouts/MainLayout.astro";
import HeaderCopy from "../components/Header.astro";
---


         
<MainLayout>
<section class="md:px-0 px-10">
    <div class="md:max-w-3xl lg:max-w-6xl mx-auto">
        <Sti
        sti1="Forside"
        divider1="/"
        sti2="Kaffekassen"
        divider2="/"
        sti3="Kaffekassen Small"
        />
        
        <Single
        galleri_1="/kaffekasse_single/kaffekassen.jpg"
        galleri_2="/kaffekasse_single/kaffekasse-1.jpg"
        galleri_3="/kaffekasse_single/kaffekasse-2.jpg"
        galleri_4="/kaffekasse_single/kaffekasse-3.jpg"/>
    </div>
<div class="bg-primary_white ">
    
        <Forslag
        heading="Du vil muligvis synes godt om"
            link_side_1="/kaffekasse"
    	    img_product_1="billeder/produktbilleder/kaffeboksalm.webp"
    	    title_1="kaffekassen | mini"
    	    price_1="119 DKK/MÅNED"
    
            link_side_2="/kaffekasse"
    	    img_product_2="billeder/produktbilleder/kaffeboksjul.webp"
    	    title_2="kaffekassen | Jul"
    	    price_2="477 DKK/MÅNED"
    
            link_side_3="/kaffekasse"
    	    img_product_3="billeder/produktbilleder/kaffeboksalm.webp"
    	    title_3="kaffekassen | deluxe"
    	    price_3="299 DKK/MÅNED"
        />
</div>

    <Testimonial
    testimonial_billede_1="/billeder/sarah.png"
    testimonial_person_1="Sarah, 33 år"
    testimonial_tekst_1="Jeg er virkelig kræsen, når det kommer til kaffe. Men jeg har virkelig fundet den kaffe der passer til mig. Den er rund i smagen og perfekt i kombination med min havremælk"
    testimonial_billede_2="/billeder/kenneth.png"
    testimonial_person_2="Kenneth, 65 år"
    testimonial_tekst_2="Jeg går op i god kaffe og elsker at få tilsendt god kaffe hver måned. Derudover lærer jeg nye metoder, jeg ikke kendte til før."
    />
</section>

</MainLayout>