---
import "../styles/style.css";
import Sti from "../components/Sti.astro";
import Testimonial from "../components/Testimonial.astro";
import Skala from "../components/Skala.astro";
import Forslag from "../components/Forslag.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
 title="Kaffemik - Det Lille Kafferisteri"
  metacontent="Smag vores Kaffemik hos Det Lille Kafferisteri, hvor hver kop bærer stolt både Fairtrade- og økologimærket. Denne mørke og krydrede kaffeblanding kombinerer mexicanske (Berilo) bønner med subtile noter af chokolade og vanilje."
  >
<section class="relative">
   <img src="/ikoner/bg-beans.svg" alt="Bønner ikoner" class="absolute top-[-5%] right-[-18%] h-[30rem] w-[30rem] rotate-45 beans">
   <div class="md:max-w-3xl lg:max-w-6xl mx-auto md:px-0 px-10">
        <Sti
        sti1="Forside"
        divider1="/"
        sti2="Shop"
        divider2="/"
        sti3="Kaffe"
        />
        
<section class="grid md:grid-cols-2 bg-secondary_beige py-16 gap-10">
 <div>
<img class="mb-5 w-full" src="/billeder/nye_webp/packshot2.webp" alt="Kaffe" height="410" width="410">
<div class="grid grid-cols-3 gap-5">
    <img class="w-full md:w-auto" src="/galleri/galleri-1.webp" alt="Galleri billede af kaffe">
    <img class="w-full md:w-auto" src="/galleri/galleri-2.webp" alt="Galleri billede af kaffe">
    <img class="w-full md:w-auto" src="/galleri/galleri-3.webp" alt="Galleri billede af kaffe">
</div>
</div>

<div >
  <h5>Espresso</h5>
  <div class="flex justify-between">
    <h1>Kaffemik</h1>
    <div class="flex gap-1">
      <img src="/ikoner/topbar-fairtrade.svg" alt="Fairtrademærket ikon">
      <img src="/ikoner/topbar-oko.svg" alt="Økomærket ikon">
    </div>
  </div>
  <h2>70 DKK</h2>
  <div class="flex gap-4 mb-4">
    <img src="/ikoner/stjerner.svg" alt="Stjerne anmeldelser">
    <a href="#"><p class="underline">Se anmeldelser</p></a>
  </div>

  <div>
    <div>
    <div class="md:flex md:justify-between">
      <div>
          <p class="mb-4">Mørk krydret kaffe. Mexico (Berilo) med noter af chokolade og vanilje, samt fantastisk crema. Afstemt med Guatemalabønnerne, med sin rundhed og noter af tropisk frugt.</p>
          <div class="flex md:gap-8 gap-4">
            <Skala
              skala="Syrlighed"
              beanImgPath1="/ikoner/beans-full.svg"
              beanImgPath2="/ikoner/beans-full.svg"
              beanImgPath3="/ikoner/beans-full.svg"
              beanImgPath4="/ikoner/beans-empty.svg"
              />
            <Skala
              skala="Sødme"
              beanImgPath1="/ikoner/beans-full.svg"
              beanImgPath2="/ikoner/beans-full.svg"
              beanImgPath3="/ikoner/beans-full.svg"
              beanImgPath4="/ikoner/beans-full.svg"
              />
            <Skala
              skala="Ristegrad"
              beanImgPath1="/ikoner/beans-full.svg"
              beanImgPath2="/ikoner/beans-full.svg"
              beanImgPath3="/ikoner/beans-empty.svg"
              beanImgPath4="/ikoner/beans-empty.svg"
              />
          </div>
      </div>
          <img src="/ikoner/landekort.svg" alt="Landekort" class="hidden md:block">
    </div>
    </div>
  </div>
       
<!-- Inputfelter -->
<div class="grid md:grid-cols-2 gap-3 md:gap-5 mt-5 items-end">
  <!-- Type -->
<div class="grid col-span-1">
  <label class="mb-1" for="kaffe-type"><h4>Type</h4></label>
  <select class="py-3 px-5 h-12 border border-darkest_brown" id="kaffe-type">
    <option>Hele bønner</option>
    <option>Kværnede bønner</option>
  </select>
</div>

<!-- Størrelse -->
<div class="grid col-span-1">
  <label class="mb-1" for="kaffe-stoerrelse"><h4>Størrelse</h4></label>
  <select class="py-3 px-5 h-12  border border-darkest_brown" id="kaffe-stoerrelse">
    <option>250 g</option>
    <option>1000 g</option>
  </select>
</div>

<!-- Antal -->
<div class="grid col-span-1">
  <label class="mb-1" for="kaffe-antal"><h4>Antal</h4></label>
  <select class="py-3 px-5 h-12 border border-darkest_brown" id="kaffe-antal">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>
</div>


  <!-- Button -->
  <div class="grid col-span-1">
    <div class="bg-accent_green hover:bg-light_accent_green inline-flex justify-center items-center h-12 rounded-full">
      <a href="#">
        <h6 class="text-primary_white">Tilføj til kurven</h6>
      </a>
    </div>
  </div>

</div>
   </div>
</section>

   </div>
    <section class="bg-primary_white relative">
<img src="/ikoner/bg-beans.svg" alt="Bønne ikoner" class="absolute top-[-15%] left-[-23%] h-[30rem] w-[30rem] rotate-[17deg] beans">
            <img src="/ikoner/bg-beans.svg" alt="Bønne ikoner" class="absolute bottom-[-33%] right-[-15%] h-[30rem] w-[30rem] z-10 beans">

        <Forslag
    heading="Mest populære produkter"
        link_side_1="/produktside"
	    img_product_1="/billeder/nye_webp/packshot4.webp"
        kategori_1="Espresso"
	    title_1="MADAMMERNES MØRKE MOCCA | MEXICO"
	    price_1="FRA 79 DKK"

        link_side_2="/produktside"
	    img_product_2="/billeder/nye_webp/koffeinfri.webp"
        kategori_2="Espresso"
	    title_2="KOFFEINFRI AFTENKAFFE | COLOMBIA"
	    price_2="FRA 79 DKK"

        link_side_3="/produktside"
	    img_product_3="/billeder/nye_webp/packshot1.webp"
        kategori_3="Filterkande"
	    title_3="MORGENKAFFE | NICARAGUA & BRASILIEN"
	    price_3="FRA 79 DKK"
    />
 
    </section>
    
<div class="relative">
  <img src="/ikoner/bg-beans.svg" alt="Bønne ikoner" class="absolute bottom-[-40%] left-[-20%] h-[30rem] w-[30rem] beans">
      <Testimonial
      testimonial_billede_1="/testimonials/sarah.webp"
      testimonial_person_1="Sarah, 33 år"
      testimonial_tekst_1="Jeg er virkelig kræsen, når det kommer til kaffe. Men jeg har virkelig fundet den kaffe der passer til mig. Den er rund i smagen og perfekt i kombination med min havremælk"
      testimonial_billede_2="/testimonials/kenneth.webp"
      testimonial_person_2="Kenneth, 65 år"
      testimonial_tekst_2="Jeg går op i god kaffe og elsker at få tilsendt god kaffe hver måned. Derudover lærer jeg nye metoder, jeg ikke kendte til før."
      />
</div>
</section>
</MainLayout>

<style>
