---
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "..//styles/style.css";
---

<MainLayout>

    <!-- Familieejet virksomhed -->


    <!-- Kerneværdier -->

    <!-- Lokation -->

<!-- Vores butik / billedegalleri -->

<section class="grid grid-rows-2">
    <img class="col-span-3 " src="/vores_butik/billede1.png" alt="kaffeposer">
    <img class="col-start-4" src="/vores_butik/billede2.png" alt="we_love_coffee_billede">
    <img src="/vores_butik/billede3.png" alt="kaffebakke">
    <img src="/vores_butik/billede4.png" alt="kaffepuder">
    <img src="/vores_butik/billede5.png" alt="kaffeskilt">
</section>

</MainLayout>