---
import Sti from "../components/Sti.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import "..//styles/style.css";
import InfoSection from "../components/InfoSection.astro";

---

<MainLayout
title="Om Os - Det Lille Kafferisteri"
  metacontent="Oplev historien bag Det Lille Kafferisteri. Anders og Signe skabte dette familieejede kafferisteri på Hundested Havn for over 20 år siden. Udforsk vores kerneværdier: kvalitet, bæredygtighed og økologi."
  >
<section class="">
    <div class="md:max-w-3xl lg:max-w-6xl mx-auto md:px-0 px-10">
        <Sti
        sti1="Forside"
        divider1="/"
        sti2="Om Os"
        >
        </Sti>

</section>


    <!-- Kerneværdier -->
<section class="bg-secondary_beige pb-16 pt-8  md:px-0 px-10 ">
    <div class="md:max-w-3xl lg:max-w-6xl mx-auto">
        <Heading><h2  class="text-center">Vores kerneværdier</h2><Heading/>
        <InfoSection
        img1="/ikoner/kvalitet.svg"
        title1="Kvalitet"
        description1="Vi køber kvalitets kaffebønner og arbejder på at få det bedste frem i bønnerne."
        
        img2="/ikoner/baeredygtighed.svg"
        title2="Bæredygtighed"
        description2="Vi brygger kaffe med god samvittighed og går ind for bæredygtighed."
        
        img3="/ikoner/okologi.svg"
        title3="Økologi"
        description3="Det er vigtigt for os, at vores kaffe er certificeret økologisk."
        >
        </InfoSection>
    </div>
</section>

       <!-- Familieejet virksomhed -->

<section>
    <div class="bg-primary_white py-16 md:px-0 px-10 grid lg:flex justify-center gap-10">
        <div>
        <h2>familieejet virksomhed</h2>
        <p>Det Lille Kafferisteri er skabt af os, Anders og Signe, og sammen har vi tre børn, som alle mere eller mindre en del af vores lille passionerede familieprojekt på Hundested Havn. 
    Vores kaffehistorie startede for mere end 20 år siden. Vi havde oplevet værdien af den helt friske kaffe, så Anders gik i gang med at riste til os selv på en lille hjemmerister i køkkenet. Dette var begyndelsen på vores rejse.</p>
    </div>
    <img src="/om_os/signe-anders.png" alt="">
    </div>
    </div>
</section>

    <!-- Lokation -->
<section class="py-16">
   <div class="grid gap-16 md:flex lg:flex md:max-w-3xl lg:max-w-6xl mx-auto md:px-0 px-10">
        <img src="/om_os/location.png" alt="lokation_hundested">
        <div>
            <h2>Lokation</h2>
            <p>Siden 2021 har vi haft risteri og butik, nede på Hundested Havn, som er en hyggelig havn med en masse små butikker, restauranter og caféer. Anders rister kaffe og Signe passer butikken. 
                Kom og tag et kig forbi. Vi har åbent hele året - og er særlig kendt for sommerperioderne.</p>
       <a class="underline" href="https://www.google.com/maps?sca_esv=587611622&output=search&q=det+lille+kafferisteri&source=lnms&entry=mc&sa=X&ved=2ahUKEwjvzJznz_WCAxV6XvEDHfo1DbAQ0pQJegQIFBAB"><p class="pt-10">Find rutevejledning</p></a>
        </div>
   </div>
</section>
<!-- Vores butik / billedegalleri -->

<section class="bg-primary_white py-16 md:px-0 px-10">
    <Heading><h2  class="text-center">Vores butik</h2><Heading/>
   <div class="md:max-w-3xl lg:max-w-6xl mx-auto grid grid-cols-8 grid-rows-2 gap-5 pt-8">
        <img class="col-span-3 " src="/om_os/billede1.png" alt="kaffeposer">
        <img class="col-span-5" src="/om_os/billede2.png" alt="we_love_coffee_billede">
        <img class="col-span-4" src="/om_os/billede3.png" alt="kaffebakke">
        <img class="col-span-2" src="/om_os/billede4.png" alt="kaffepuder">
        <img class="col-span-2" src="/om_os/billede5.png" alt="kaffeskilt">
    </section>
   </div>

</MainLayout>