---
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import "../styles/style.css";
import Sti from "../components/Sti.astro";
import Testimonial from "../components/Testimonial.astro";
import Single from "../components/Single.astro";
import Forslag from "../components/Forslag.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
<section class="">
    <Sti/>
    <Single/>
    <Testimonial
    testimonial_billede_1="/billeder/sarah.jpg"
    testimonial_person_1="Sarah, 33 år"
    testimonial_tekst_1="Jeg er virkelig kræsen, når det kommer til kaffe. Men jeg har virkelig fundet den kaffe der passer til mig. Den er rund i smagen og perfekt i kombination med min havremælk"
    testimonial_billede_2="/billeder/kenneth.jpg"
    testimonial_person_2="Kenneth, 65 år"
    testimonial_tekst_2="Jeg går op i god kaffe og elsker at få tilsendt god kaffe hver måned. Derudover lærer jeg nye metoder, jeg ikke kendte til før."
    />
    <Forslag/>
</section>
</MainLayout>