---
import Kategoricard from "../components/Kategoricard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Sti from "../components/Sti.astro";
import Heading from "../components/Heading.astro";
import "..//styles/style.css";
---



<MainLayout
  title="Shop - Det Lille Kafferisteri"
  metacontent="Opdag vores kaffeshop hos Det Lille Kafferisteri med bæredygtige kaffeprodukter, spændende kaffekasser, søde fristelser, praktisk kaffetilbehør, hudpleje og rengøringsudstyr.">
<div class="bg-secondary_beige md:max-w-3xl lg:max-w-6xl mx-auto pb-16 px-10 relative">
  <img src="/ikoner/bg-beans.svg" alt="" class="absolute top-[0px] right-[-230px] h-60 w-60">
<img src="/ikoner/bg-beans.svg" alt="" class="absolute bottom-[-110px] left-[-200px] h-60 w-60">
  <Sti
      sti1="Forside"
      divider1="/"
      sti2="Shop"
      />
    
  <section class="pb-16">
    <Heading><h2  class="text-center">Shop</h2><Heading/>
  
        <div class="grid justify-center lg:grid-cols-3 gap-10 md:grid-cols-2 pt-8">
          <Kategoricard
          backgroundImage="/kategoricards/kaffeprodukter.webp"
        title="Kaffeprodukter"
        description="Udforsk vores sortiment af bæredygtige kaffebønner fra vores lokale risteri..."
        link_side="/kaffeprodukter"
        
        />
          <Kategoricard
       backgroundImage="/kategoricards/kaffekassen.webp"
        title="Kaffekassen"
        description="Bliv en del af kaffekassen og modtag hver måned en pakke med lækkerier..."
        link_side="/kaffekasse"
        
        />
    
          <Kategoricard
       backgroundImage="/kategoricards/lidt_til_kaffen.webp"
        title="Lidt Til Kaffen"
        description="Opdag vores sortiment af delikate søde fristelser og nyd det sammen med kaffen..."
        link_side="/"
        
        />
    
          <Kategoricard
       backgroundImage="/kategoricards/kaffetilbehor.webp"
        title="Kaffetilbehør"
        description="Se vores udvalg af kaffetilbehør, kaffefiltre, kaffebryggere mv..."
        link_side="/"
        
        />
    
          <Kategoricard
       backgroundImage="/kategoricards/hudpleje.webp"
        title="Hudpleje"
        description="Forkæl din krop med luksuriøse hudplejeprodukter, der er fremstillet med kaffe..."
        link_side="/"
        
        />
    
          <Kategoricard
       backgroundImage="/kategoricards/rengoring.webp"
        title="Rengøring"
        description="Rengøring af dit brygudstyr har en stor betydning for et godt resultat for din kaffe..."
        link_side="/"
        
        />
        </div>
  
  
  
  
  </section>
</div>

</MainLayout>

