---
import "../styles/style.css";
---

<section class="bg-dark_brown text-primary_white">
    <!-- Kontaktoplysninger -->
<article>
    <h4>Kontaktoplysninger</h4>
        <div class="">
          <img
            src="/ikoner/telefon.svg"
            width="20"
            height="50"
          />
          <p>+45 44 94 66 96</p>
        </div>
        <div class="">
          <img
            src="/ikoner/mail.svg"
            width="20"
            height="39"
          />
          <p>Info@dyrevaernet.dk</p>
        </div>
        <div class="">
          <img
            src="/ikoner/lokation.svg"
            width="20"
            height="64"
          />
          <p>Islevdalvej 85, 2610 Rødovre</p>
        </div>
</article>

<!-- Åbningstider -->
<article>
    <h4>Åbningstider</h4>
</article>

<!-- Det Lille Kafferisteri -->
<article>
    <h4>Det Lille Kafferisteri</h4>
</article>

<!-- Øvrige informationer -->
<article>
    <h4>Øvrige informationer</h4>
</article>

<!-- Trustpilot -->
<article>
    <h4>Trustpilot</h4>
</article>

<!-- Følg os -->
<article>
    <h4>Følg os</h4>
</article>
</section>

<style></style>