---
import "../styles/style.css";
import Heading from "./Heading.astro";
import Card from "./Card.astro";
const { skala, beanImgPath1, beanImgPath2, beanImgPath3, beanImgPath4 } = Astro.props;
---

<Heading
	heading="Du vil muligvis synes godt om"
	/>
	 <div class="flex gap-10">
	 	<Card 
	      link_side="/produktside"
	      img_product="/produktbilleder/kaffeprodukt_1.png"
	      kategori="Espresso"
	      title="koffeinfri aftenkasse | fra colombia"
	      price="fra 79DKK"
	      />
		   <Card 
	      link_side="/produktside"
	      img_product="/produktbilleder/kaffeprodukt_1.png"
	      kategori="Espresso"
	      title="koffeinfri aftenkasse | fra colombia"
	      price="fra 79DKK"
	      />
		   <Card 
	      link_side="/produktside"
	      img_product="/produktbilleder/kaffeprodukt_1.png"
	      kategori="Espresso"
	      title="koffeinfri aftenkasse | fra colombia"
	      price="fra 79DKK"
	      />
	 </div>