---
import "../styles/style.css";
---

<!-- Vil gerne have text-center på 'slot', så har prøvet med text-center på div omkring. Den gør som den skal, men påvirker også alt andet,
som fx testimonials bliver text-center (i og med slot er skrevet ind anderledes, da 'bønnelinjen' optræder flere gange, hvis det ikke
skrives ind på denne måde. Der findes evt. en anden løsning på dette) -->

<div class="flex flex-col items-center justify-center mb-10 ">
    <slot>
        <div>
            <img src="/ikoner/linje.png" alt="kaffebonne">
        </div>
    </slot>
</div>

