---
import "../styles/style.css";
const {headerImg} = Astro.props;
---
<!-- lg:mx-auto lg:max-w-7xl -->

<header>
  <nav class="navbar z-50 relative "> 
    <div class="list-none bg-light_brown">
      <!-- topbar -->
      <div class="lg:mx-auto lg:max-w-7xl flex space-between gap-10 justify-between px-10 lg:px-0">
        <div class="text-primary_white text-slide items-center lg:py-3">
            <div class="text-wrap">
            <div class="lg:flex text lg:gap-16 grid">
          <span>Fri fragt ved køb over 400,-</span>
          <span>Levering inden for 1-2 hverdage</span>
          <span>Altid Økologiske Kaffebønner</span>
          </div>
            </div>
          </div>
  
          <div class="flex gap-3 items-center">
            <li><img src="/ikoner/topbar-oko.svg" alt=""></li>
            <li><img src="/ikoner/topbar-smiley.svg" alt=""></li>
            <li><img src="/ikoner/topbar-fairtrade.svg" alt=""></li>
          </div>
      </div>
    </div>

 <div style={`background-image: url(${headerImg})`} class="bg-cover overflow-hidden lg:h-0 h-20" >               
    <div class="px-10 lg:pt-0 py-5">
      <div class="flex">
        <div class="flex-1 lg:hidden">
          <a href="/">
            <img class="" src="/ikoner/logo.svg" alt="logo_detlillekafferisteri" height="85" width="85" />
          </a>
        </div>

        <!-- burgermenu -->
        
        <div class="lg:hidden flex gap-6">
                   <a href="/indkobskurv"><img class="hover:scale-110 ease-in-out transition duration-200" src="/ikoner/indkobskurv.svg" alt=""></a>
          <button class="hamburger z-50">
            <img class="menuIcon" src="/ikoner/burgermenu-open.svg" alt="burgermenu" height="22" width="34" />
            <img class="closeIcon hidden" src="/ikoner/burgermenu-close.svg" alt="burgermenu-luk" width="34" height="22" />
          </button>
    
        </div>
      </div>
    </div>

    <div class="fixed top-0 text-dark_brown z-40 bg-secondary_beige w-full max-h-screen translate-x-full text-left transition-transform" id="hammenu">
      <div class="p-6 leading-loose h-screen grid px-10 py-16">
         <ul>
            <li class="heading-3">
              <a class="menuItem" href="/kaffeprodukter">Kaffe</a>
            </li>
            <li>
              <a class="menuItem" href="/kaffeprodukter"> <p class="text-heading-4" >Espresso</p></a>
            </li>
            <li>
              <a class="menuItem" href="/kaffeprodukter"> <p class="text-heading-4" >Filterkaffe</p></a>
            </li>
            <li>
              <a class="menuItem" href="/kaffeprodukter"> <p class="text-heading-4" >Stempelkaffe</p></a>
            </li>
            <li>
              <a class="menuItem" href="/kaffeprodukter"> <p class="text-heading-4">Koffeinfri</p></a>
            </li>
            

              <li class="heading-3">
              <a class="menuItem" href="/shop">Andre produkter</a>
            </li>
             <li>
              <a class="menuItem" href="/#"> <p class="text-heading-4" >Fristeriet - Lidt til kaffen</p></a>
            </li>
             <li>
              <a class="menuItem" href="/#"> <p class="text-heading-4" >Kaffetilbehør</p></a>
            </li>
             <li>
              <a class="menuItem" href="/#"> <p class="text-heading-4" >Hudpleje</p></a>
            </li>
             <li>
              <a class="menuItem" href="/#"> <p class="text-heading-4" >Rengøring</p></a>
            </li>
             <li>
              <a class="menuItem" href="/gavekort"> <p class="text-heading-4" >Gavekort</p></a>
            </li>

            <li class="heading-3">
              <a class="menuItem" href="/kaffekasse">Kaffeabonnement</a>
            </li>
            <li class="heading-3">
              <a class="menuItem" href="/om">Om Os</a>
            </li>
          </ul>
      </div>
    </div>
</div>
    <!-- Desktopmenu -->
    <div style={`background-image: url(${headerImg})`} class="bg-cover" >
      <div class="hidden lg:flex justify-between lg:max-w-7xl lg:mx-auto lg:pb-5 h-28 items-baseline">
          <a class="" href="/"><img src="/ikoner/logo.svg" alt="logo_kafferisteri" height="130" width="130" /></a>
          
        <ul class="flex gap-12 text-primary_white">
          <div class="dropdown">
          <li class="heading-3"><a href="/shop">Shop</a></li>
  <div class="dropdown-content bg-secondary_beige absolute hidden z-50">
<div class="grid grid-cols-2 gap-6 text-dark_brown">
    <div>
    <a class="heading-4" href="/kaffeprodukter">Kaffe</a>
    <a href="/kaffeprodukter"><p>Espresso</p></a>
    <a href="/kaffeprodukter"><p>Filterkaffe</p></a>
    <a href="/kaffeprodukter"><p>Stempelkaffe</p></a>
    <a href="/kaffeprodukter"><p>Koffeinfri</p></a>
    </div>
    <div class="vertical"></div>
<div class="ml-4">
    <a class="heading-4" href="/shop">Andre produkter</a>
    <a href="#"><p>Fristeriet - Lidt til kaffen</p></a>
    <a href="#"><p>Kaffetilbehør</p></a>
    <a href="#"><p>Hudpleje</p></a>
    <a href="#"><p>Rengøring</p></a>
    <a href="/gavekort"><p>Gavekort</p></a>
      </div>
    </div>
  </div>
</div>
          <li class="heading-3"><a href="/kaffekasse">Abonnement</a></li>
          <li class="heading-3"><a href="/om">Om Os</a></li>
            <li class="uppercase">
           <a href="/indkobskurv"><img class="hover:scale-110 ease-in-out transition duration-200" src="/ikoner/indkobskurv.svg" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<style>

  /* Hover effekt */
  li:hover {
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

.showMenu {
  transform: translateY(0);
}


/* dropdown */
.dropdown-content {
  min-width: 35rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 2rem;
}

.dropdown-content a {
  padding: 10px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.vertical {
            border-left: 2px solid #35261C;
            opacity: 50%;
            position:absolute;
            left: 50%; 
            top:10%;
            bottom: 10%;
          
          }

/* textslider topbar */

@media (max-width: 1023px) {
  .text-slide>div {
    height: 40px;
    line-height: 35px;
    overflow: hidden;
  }
  .text {
    position: relative;
    animation: text-animation ease 8s infinite;
  }

@keyframes text-animation {
  0% {
    top:0;
  }

  10% {
    top:0;
  }
  
  30% {
    top:-30px;
  }
  
  50% {
    top:-30px;
  }
  
  70% {
    top:-65px;
  }
  
  90% {
    top:-65px;
  }
  
  100% {
    top:0;
  }

}
}
</style>

<script src="../js/main.js"></script>
