---
import "../styles/style.css";
const {headerImg} = Astro.props;
---

<header>
    <nav>
           <div class="list-none bg-light_brown">
        <ul
          class="flex justify-around  lg:text-primary_white lg:mx-auto py-2 lg:max-w-7xl"
        >
          <li><p>Fri fragt ved køb over 400,-</p></li>
          <li><p>Levering inden for 1-2 hverdage</p></li>
          <li><p>Altid Økologiske Kaffebønner</p></li>
          <div class="flex gap-3">
          <li><img src="/ikoner/topbar-oko.svg" alt=""></li>
          <li><img src="/ikoner/topbar-smiley.svg" alt=""></li>
          <li><img src="/ikoner/topbar-fairtrade.svg" alt=""></li>
       </div>
        </ul>
      </div>

            <div class="px-10 py-5 lg:pt-0">
        <div class="flex">
          <div class="flex-1 lg:hidden">
            <a href="/"
              ><img
                class=""
                src="/ikoner/logo.svg"
                alt="det_lille_kafferisteri_logo"
                height="48"
                width="48"
              /></a
            >
          </div>

      <!-- Burgermenu  -->

      <!-- Burgermenuikon -->
        <div class="lg:hidden flex gap-6">
            <button class="hamburger z-50">
              <img
                class="menuIcon"
                src="/ikoner/burgermenu-open.svg"
                alt="burgermenu"
                height="22"
                width="34"
              />
              <img
                class="closeIcon hidden"
                src="/ikoner/burgermenu-close.svg"
                alt="burgermenu-luk"
                width="34"
                height="22"
              />
            </button>
          </div>
        </div>
      </div>

      <!-- burgermenustart -->
      <div
        class="fixed top-0 text-primary_black z-40 bg-secondary_beige w-full max-h-screen translate-x-full text-left transition-transform"
        id="hammenu"
      >
        <div class="p-6 leading-loose h-screen grid px-10 pt-16">
          <ul>
            <li class="heading-3">
              <a class="menuItem" href="/adopter">Kaffe</a>
            </li>
            <li>
              <a class="menuItem" href="/indlever"> <p class="text-heading-4" >Espresso</p></a>
            </li>
            <li>
              <a class="menuItem" href="/rodgivning"> <p class="text-heading-4" >Filterkaffe</p></a>
            </li>
            <li>
              <a class="menuItem whitespace-nowrap" href="#"
                > <p class="text-heading-4" >Stempelkaffe</p></a
              >
            </li>
            <li>
              <a class="menuItem" href="/om"> <p class="text-heading-4">Koffeinfri</p></a>
            </li>
            

              <li class="heading-3">
              <a class="menuItem" href="/adopter">Andre produkter</a>
            </li>
             <li>
              <a class="menuItem" href="/indlever"> <p class="text-heading-4" >Fristeriet - Lidt til kaffen</p></a>
            </li>
             <li>
              <a class="menuItem" href="/indlever"> <p class="text-heading-4" >Kaffetilbehør</p></a>
            </li>
             <li>
              <a class="menuItem" href="/indlever"> <p class="text-heading-4" >Hudpleje</p></a>
            </li>
             <li>
              <a class="menuItem" href="/indlever"> <p class="text-heading-4" >Rengøring</p></a>
            </li>
             <li>
              <a class="menuItem" href="/indlever"> <p class="text-heading-4" >Gavekort</p></a>
            </li>

            <li class="heading-3">
              <a class="menuItem" href="/adopter">Kaffeabonnement</a>
            </li>
            <li class="heading-3">
              <a class="menuItem" href="/adopter">Om Os</a>
            </li>
          </ul>


      <!-- Desktopmenu  -->

<div>

  <div style={`background-image: url(${headerImg})`} class="bg-cover overflow-hidden" >
      <div
        class="hidden lg:flex justify-between lg:max-w-7xl lg:mx-auto h-32 items-center">
        <div class="flex">
          <a href="/index"
            ><img
              src="/ikoner/logo.svg"
              alt="logo_detlillekafferisteri"
              
            /></a
          >
        </div>


        <ul class="flex gap-16 items-center text-white">
          <li class="uppercase hover:underline">
            <h3><a href="/shop">shop</a></h3>
          </li>
          <li class="uppercase hover:underline">
           <h3> <a href="/kaffekasse">kaffekassen</a></h3>
          </li>
          <li class="uppercase hover:underline">
          <h3>  <a href="/gavekort">gavekort</a></h3>
          </li>
          <li class="uppercase hover:underline">
          <h3>  <a href="/om">om os</a></h3>
          </li>
          <li class="uppercase">
           <a href="/indkobskurv"><img class="hover:scale-110 ease-in-out transition duration-200" src="/ikoner/indkobskurv.svg" alt=""></a>
          </li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>
    </nav>
</header>


<style>
    li:hover {
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }

  /*Burgermenu*/
.showMenu {
  transform: translateY(0);
}
</style>


<script src="../js/main.js"></script>