---
import "../styles/style.css";
const {headerImg} = Astro.props;
---

<header>
  <nav class="navbar">
    <div class="list-none bg-light_brown">
      <!-- topbar -->
      <ul class="flex justify-around lg:text-primary_white lg:mx-auto py-2 lg:max-w-7xl">
        <li><p>Fri fragt ved køb over 400,-</p></li>
        <li><p>Levering inden for 1-2 hverdage</p></li>
        <li><p>Altid Økologiske Kaffebønner</p></li>
        <div class="flex gap-3">
          <li><img src="/ikoner/topbar-oko.svg" alt=""></li>
          <li><img src="/ikoner/topbar-smiley.svg" alt=""></li>
          <li><img src="/ikoner/topbar-fairtrade.svg" alt=""></li>
        </div>
      </ul>
    </div>

    <div class="px-10 lg:pt-0">
      <div class="flex">
        <div class="flex-1 lg:hidden">
          <a href="/">
            <img class="" src="/ikoner/logo.svg" alt="logo_dyrevaernet" height="48" width="48" />
          </a>
        </div>

        <!-- burgermenu -->
        <div class="lg:hidden flex gap-6">
          <button class="hamburger z-50">
            <img class="menuIcon" src="/ikoner/burgermenu-open.svg" alt="burgermenu" height="22" width="34" />
            <img class="closeIcon hidden" src="/ikoner/burgermenu-close.svg" alt="burgermenu-luk" width="34" height="22" />
          </button>
        </div>
      </div>
    </div>

    <div class="fixed top-0 text-dark_brown z-40 bg-secondary_beige w-full max-h-screen translate-x-full text-left transition-transform" id="hammenu">
      <div class="p-6 leading-loose h-screen grid px-10">
        <ul class="grid items-end mb-4">
          <a href="/"><img class="" src="/ikoner/logo.svg" alt="logo_dyrevaernet" height="48" width="48" /></a>
        </ul>
        <ul>
          <li class="heading-2"><a class="menuItem" href="/adopter"><p>Adopter</p></a></li>
          <li class="heading-2"><a class="menuItem" href="/indlever">Indlever</a></li>
          <li class="heading-2"><a class="menuItem" href="/rodgivning">Rådgivning</a></li>
          <li class="heading-2"><a class="menuItem whitespace-nowrap" href="#">Anmeld dyreværnssag</a></li>
          <li class="heading-2"><a class="menuItem" href="/om">Om Dyreværnet</a></li>
        </ul>
      </div>
    </div>

    <!-- Desktopmenu -->
    <div style={`background-image: url(${headerImg})`} class="bg-cover overflow-hidden" >
      <div class="hidden lg:flex justify-between lg:max-w-6xl lg:mx-auto lg:pb-5 h-28">
        <div class="flex">
          <a class="flex" href="/"><img src="/ikoner/logo.svg" alt="logo_dyrevaernet" height="48" width="48" /></a>
        </div>
        <ul class="flex gap-6 items-center">
          <li class="uppercase"><a href="/adopter">Adopter</a></li>
          <li class="uppercase"><a href="/indlever">Indlever</a></li>
          <li class="uppercase"><a href="/rodgivning">Rådgivning</a></li>
          <li class="uppercase"><a href="#">Anmeld dyreværnssag</a></li>
          <li class="uppercase"><a href="/om">Om Dyreværnet</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<style>
  /* Hover effekt */
  li:hover {
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

.showMenu {
  transform: translateY(0);
}

</style>

<script src="../js/main.js"></script>
