---
import "../styles/style.css";
const {headerImg} = Astro.props;
---

<header>
    <nav>
           <div class="list-none bg-light_brown">
        <ul
          class="flex justify-around  lg:text-primary_white lg:mx-auto py-2 lg:max-w-7xl"
        >
          <li><p>Fri fragt ved køb over 400,-</p></li>
          <li><p>Levering inden for 1-2 hverdage</p></li>
          <li><p>Altid Økologiske Kaffebønner</p></li>
          <div class="flex gap-3">
          <li><img src="/ikoner/topbar-oko.svg" alt=""></li>
          <li><img src="/ikoner/topbar-smiley.svg" alt=""></li>
          <li><img src="/ikoner/topbar-fairtrade.svg" alt=""></li>
       </div>
        </ul>
      </div>

      <!-- Desktopmenu  -->

<div>

  <div style={`background-image: url(${headerImg})`} class="bg-cover overflow-hidden" >
      <div
        class="hidden lg:flex justify-between lg:max-w-7xl lg:mx-auto h-32 items-center">
        <div class="flex">
          <a href="/index"
            ><img
              src="/ikoner/logo.svg"
              alt="logo_detlillekafferisteri"
              
            /></a
          >
        </div>


        <ul class="flex gap-16 items-center text-white">
          <li class="uppercase hover:underline">
            <h3><a href="/shop">shop</a></h3>
          </li>
          <li class="uppercase hover:underline">
           <h3> <a href="/kaffekasse">kaffekassen</a></h3>
          </li>
          <li class="uppercase hover:underline">
          <h3>  <a href="/gavekort">gavekort</a></h3>
          </li>
          <li class="uppercase hover:underline">
          <h3>  <a href="/om">om os</a></h3>
          </li>
          <li class="uppercase">
           <a href="/indkobskurv"><img class="hover:scale-110 ease-in-out transition duration-200" src="/ikoner/indkobskurv.svg" alt=""></a>
          </li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>
    </nav>
</header>