---
import "../styles/style.css";
const { skala, beanImgPath1, beanImgPath2, beanImgPath3, beanImgPath4 } = Astro.props;
---
<div class="">
<img class="mb-5" src="/billeder/coffee-single.jpg" alt="Kaffe">
<div class="flex gap-5">
    <img src="/billeder/galleri-1.jpg" alt="">
    <img src="/billeder/galleri-2.jpg" alt="">
    <img src="/billeder/galleri-3.jpg" alt="">
</div>
    
</div>
