---
import "../styles/style.css";
const { galleri_1, galleri_2, galleri_3, galleri_4 } = Astro.props;
---
<div class="">
<img class="mb-5" src={galleri_1} alt="Kaffe">
<div class="flex gap-5">
    <img src={galleri_2} alt="">
    <img src={galleri_3} alt="">
    <img src={galleri_4} alt="">
</div>
    
</div>
