---
import "../styles/style.css";
import SecondaryButton from "./SecondaryButton.astro";
const { title, description, link_side, backgroundImage } = Astro.props;
---

</div>
<div class="flex justify-center">
    <div style={`background-image: url(${backgroundImage})`} class="bg-cover w-full h-full overflow-hidden shadow-lg hover:shadow-2xl duration-100">
        <a href={link_side}>
            <div class="p-6 text-white pt-52">
                <h2 class="font-bold mb-2">{title}</h2>
                <div class="flex justify-between">
                    <p class="w-[15rem]" >{description}</p>
                    <SecondaryButton></SecondaryButton>
                </div>
            </div>
        </a>
    </div>
</div>

