---
import "../styles/style.css";
const {
    text
} = Astro.props;
---


<div class="bg-secondary_beige hover:bg-accent_green inline-flex">
    <h3 class="text-primary_white py-2 px-5">{text}</h3>
</div>


