---
import "../styles/style.css";
const {
    text, link_side
} = Astro.props;
---


<div class="bg-accent_green hover:bg-light_accent_green inline-flex my-5 justify-center rounded-full">
   <a href={link_side}>
    <h6 class="text-primary_white py-2 px-5">{text}</h6>
    </a> 
</div>
  

