---
import "../styles/style.css";
---

<div class=" w-16 h-16 rounded-full bg-secondary_beige hover:bg-accent_green"></div>

<style>
div {
    background-image: url(/ikoner/btn.svg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
div:hover{
    background-image: url(/ikoner/sekundaer_btn.svg);
    background-size:cover;
}
</style>