---
import "../styles/style.css";
import KaffeGalleri from "./KaffeGalleri.astro";
import PrimaryButton from "./PrimaryButton.astro";
import Skala from "./Skala.astro";
import ToggleDropdown from "./ToggleDropdown.astro";
const { skala, beanImgPath1, beanImgPath2, beanImgPath3, beanImgPath4, type, title, option1, option2, option3, option4, galleri_1, galleri_2, galleri_3, galleri_4 } = Astro.props;
---

<section class="grid md:grid-cols-2 bg-secondary_beige py-16">
 <div class="">
<img class="mb-5" src={galleri_1} alt="Kaffe">
<div class="flex gap-5">
    <img src={galleri_2} alt="">
    <img src={galleri_3} alt="">
    <img src={galleri_4} alt="">
</div>
    
</div>
   <div class="">
        <h5>Espresso</h5>
        <div class="flex justify-between">
            <h1>Kaffemik</h1>
           <div class="flex gap-2">
                <img src="/ikoner/topbar-fairtrade.svg" alt="">
                <img src="/ikoner/topbar-oko.svg" alt="">
           </div>
        </div>
        <h2>159 DKK</h2>
        <div class="flex gap-4 mb-4">
            <img src="/ikoner/stjerner.svg" alt="">
            <p class="underline">Se anmeldelser</p>
        </div>

   <div class="grid grid-cols-2">
                <p class="mb-4 col-span-2 lg:col-span-1">Mørk krydret kaffe. Mexico (Berilo) med noter af chokolade og vanilje, samt fantastisk crema. Afstemt med Guatemalabønnerne, med sin rundhed og noter af tropisk frugt.</p>
                
                 <div class="md:flex gap-8 lg:flex row-start-2 lg:gap-6">
                        <Skala
                        skala="Syrlighed"
                        beanImgPath1="/ikoner/bean-full.png"
                        beanImgPath2="/ikoner/bean-full.png"
                        beanImgPath3="/ikoner/bean-full.png"
                        beanImgPath4="/ikoner/bean-empty.png"
                        />
                        <Skala
                        skala="Sødme"
                        beanImgPath1="/ikoner/bean-full.png"
                        beanImgPath2="/ikoner/bean-full.png"
                        beanImgPath3="/ikoner/bean-full.png"
                        beanImgPath4="/ikoner/bean-full.png"
                        />
                        <Skala
                        skala="Ristegrad"
                        beanImgPath1="/ikoner/bean-full.png"
                        beanImgPath2="/ikoner/bean-full.png"
                        beanImgPath3="/ikoner/bean-empty.png"
                        beanImgPath4="/ikoner/bean-empty.png"
                        />
                 </div>
             <img class="col-start-2 row-start-2 lg:row-span-2 lg:ml-16" src="/ikoner/landekort.svg" alt="">
   </div>
       

        <!-- Inputfelter -->
       <div class="grid grid-row md:grid-cols-2 gap-5">
           <ToggleDropdown
           type="Type" title="Hele bønner" option1="Kværnede bønner"/>
           <ToggleDropdown
           type="Størrelse" title="250 g" option1="1000 g"/>
           <ToggleDropdown
           type="Antal" title="1" option1="1" option2="2" option3="3"/>
           <PrimaryButton text="Tilføj til kurven"/>
           
       </div>
   </div>
</section>