---
import "../styles/style.css";
import KaffeGalleri from "./KaffeGalleri.astro";
import PrimaryButton from "./PrimaryButton.astro";
import Skala from "./Skala.astro";
import ToggleDropdown from "./ToggleDropdown.astro";
const { skala, beanImgPath1, beanImgPath2, beanImgPath3, beanImgPath4, type, title, option1, option2, option3, option4, galleri_1, galleri_2, galleri_3, galleri_4 } = Astro.props;
---

<section class="grid md:grid-cols-2 bg-secondary_beige py-16">
 <div class="">
<img class="mb-5" src={galleri_1} alt="Kaffe">
<div class="flex gap-5">
    <img src={galleri_2} alt="">
    <img src={galleri_3} alt="">
    <img src={galleri_4} alt="">
</div>
    
</div>
   <div class="">
        <h5>Espresso</h5>
        <div class="flex justify-between">
            <h1>Kaffemik</h1>
           <div class="flex gap-2">
                <img src="/ikoner/topbar-fairtrade.svg" alt="">
                <img src="/ikoner/topbar-oko.svg" alt="">
           </div>
        </div>
        <h2>159 DKK</h2>
        <div class="flex gap-4 mb-4">
            <img src="/ikoner/stjerner.svg" alt="">
            <p class="underline">Se anmeldelser</p>
        </div>
   <div class="grid">
           <div>
                <p class="mb-4">Mørk krydret kaffe. Mexico (Berilo) med noter af chokolade og vanilje, samt fantastisk crema. Afstemt med Guatemalabønnerne, med sin rundhed og noter af tropisk frugt.</p>
                
                 <div class="md:flex gap-8">
                        <Skala
                        skala="Syrlighed"
                        beanImgPath1="/ikoner/bean-full.png"
                        beanImgPath2="/ikoner/bean-full.png"
                        beanImgPath3="/ikoner/bean-full.png"
                        beanImgPath4="/ikoner/bean-empty.png"
                        />
                        <Skala
                        skala="Sødme"
                        beanImgPath1="/ikoner/bean-full.png"
                        beanImgPath2="/ikoner/bean-full.png"
                        beanImgPath3="/ikoner/bean-full.png"
                        beanImgPath4="/ikoner/bean-full.png"
                        />
                        <Skala
                        skala="Ristegrad"
                        beanImgPath1="/ikoner/bean-full.png"
                        beanImgPath2="/ikoner/bean-full.png"
                        beanImgPath3="/ikoner/bean-empty.png"
                        beanImgPath4="/ikoner/bean-empty.png"
                        />
                 </div>
           </div>
             <img src="/ikoner/landekort.svg" alt="">
   </div>
       

        <!-- Inputfelter -->
       <div class="grid grid-row md:grid-cols-2 gap-5">
       <!-- Type -->
<div class="grid">
  <label><h4>Type</h4></label>
  <select class="py-2 px-5">
    <option>Hele bønner</option>
    <option>Kværnede bønner</option>
  </select>
</div>

<!-- Størrelse -->
<div class="grid">
  <label><h4>Størrelse</h4></label>
  <select class="py-2 px-5">
    <option>250g</option>
    <option>1000g</option>
  </select>
</div>

<!-- Antal -->
<div class="grid">
  <label><h4>Antal</h4></label>
  <select class="py-2 px-5">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>
</div>


           <!-- Button -->
           <PrimaryButton text="Tilføj til kurven"/>
         
       </div>
   </div>
</section>

<style>

    /* <ToggleDropdown
           type="Type" title="Hele bønner" option1="Kværnede bønner"/>
           <ToggleDropdown
           type="Størrelse" title="250 g" option1="1000 g"/>
           <ToggleDropdown
           type="Antal" title="1" option1="1" option2="2" option3="3"/>
           <PrimaryButton text="Tilføj til kurven"/> */

</style>