---
import "../styles/style.css";
const { skala, beanImgPath1, beanImgPath2, beanImgPath3, beanImgPath4 } = Astro.props;
---
<section>
  <ul class="flex items-center space-x-2">
    <li><a href="#" class="hover:underline">Forside</a></li>
    <li><span>/</span></li>
    <li><a href="#" class="hover:underline">Shop</a></li>
    <li><span>/</span></li>
    <li class="">Kaffebønner - Espresso</li>
  </ul>
</section>
