---
import "../styles/style.css";
import SecondaryButton from "../components/SecondaryButton.astro";
const {
    text, link_side
} = Astro.props;
---

<div class="border border-light_brown hover:bg-secondary_beige inline-flex my-5 justify-center rounded-full p-1 cursor-pointer">
    <a href={link_side}>
        <h6 class="text-light_brown py-2 px-5">{text}</h6>
    </a>
</div>

  
