---
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {
  title,
  splash_title,
  splash_description,
  imgPath,
  intro_title,
  intro_description,
  metacontent,
} = Astro.props;
---


<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex" />
		<meta name="generator" content={Astro.generator} />
         <meta name="description" content={metacontent} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800&family=Poppins&display=swap" rel="stylesheet">
         <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
         <link rel="sitemap" href="/sitemap-index.xml" />
         
        <title>{title}</title>
	</head>
	<body>
    <Header headerImg="/billeder/img-header.png" />
            <main class="bg-secondary_beige overflow-hidden">
                <slot />
              
              </main>
	 <Footer />
	</body>
</html>
