---
import Card from "../components/Card.astro";
import "..//styles/style.css";
import Footer from "../components/Footer.astro";
---



<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex" />
		<meta name="generator" content={Astro.generator} />
	
	</head>
	<body>
		<h1>Astro</h1>
		<p>test test test test</p>
	 <Footer />
	</body>
</html>
